<app-header [title]="title" [user]="user"></app-header>

<div class="app-container container">
  <div class="first-view" *ngIf="selectMode">
    <h1>Welcome, {{ user }}!</h1>
    <p>Choose your <span>favourite items</span> presentation mode</p>
    <mat-icon mat-list-icon (click)="switchView(false)">view_module</mat-icon>
    <mat-icon mat-list-icon (click)="switchView(true)">list</mat-icon>
  </div>
  <div class="second-view" *ngIf="!selectMode">
    <div class="view-options">
      <mat-icon mat-list-icon class="view-options-item" [ngClass]="{'active' : gridView}" (click)="switchView(false)">view_module</mat-icon>
      <mat-icon mat-list-icon class="view-options-item" [ngClass]="{'active' : listView}" (click)="switchView(true)">list</mat-icon>
    </div>

    <app-grid-view *ngIf="gridView" [data]="json"></app-grid-view>
    <app-list-view *ngIf="listView" [data]="json"></app-list-view>
  </div>

</div>

<app-footer></app-footer>
